CONFIG_FREERTOS_SUPPORT_STATIC_ALLOCATION=y
CONFIG_FATFS_LFN_HEAP=y
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192

# brownout detector
CONFIG_ESP32_BROWNOUT_DET=y
CONFIG_ESP32_BROWNOUT_DET_LVL_SEL_6=y

CONFIG_LWIP_TCPIP_TASK_AFFINITY_CPU0=y
